<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gaml.extension">
   </extension>
   <extension
         id="UnityVR"
         name="Unity VR"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="gaml.extension.unity.menuContribution1">
         <menu
               label="Unity VR">
            <command
                  commandId="gaml.extension.unity.command1"
                  label="Model Verization"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
